<%- include('partials/header') %>
<div class="container">
    <div class="header-index">
        <h1 class="bg-primary">Contact manager</h1>
    </div>
    <div class="home-panel"> 
        <div class="row">
            <div class="col-md-4">
                <a class=" btn btn-primary" href="/registration"><i class="fas fa-user-plus icons"></i></a>
                    <p>Add</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary" href="/view"><i class="fas fa-list icons"></i> </a>
                <p>View</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary" href="#"><i class="fas fa-search icons"></i></a>
                <p>Search</p>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer') %>